In [1]:
courses = ['History','Math','Physics']

In [2]:
print(courses[0:2])

['History', 'Math']

In [4]:
#everthing including and after the index 0
print(courses[0:])

['History', 'Math', 'Physics']

In [5]:
#everything form the index 0 but not inclusing the the end index
print(courses[:3])

['History', 'Math', 'Physics']

In [7]:
#appending an item to the existing list at the end
courses.append('Art')

In [9]:
print(courses)

['History', 'Math', 'Physics', 'Art', 'Art']

In [10]:
#to insert an element at a specific index the use insert
courses.insert(0,'Art')

In [13]:
print(courses)
courses.insert(1,'Engineering')
print(courses)

['Art', 'Engineering', 'History', 'Math', 'Physics', 'Art', 'Art']
['Art', 'Engineering', 'Engineering', 'History', 'Math', 'Physics', 'Art', 'Art']

In [14]:
courses2 = ['Electrical','Electronics']

In [16]:
#inserting a list into another list will insert a list within a list
courses.insert(0,courses2)
print(courses)

[['Electrical', 'Electronics'], 'Art', 'Engineering', 'Engineering', 'History', 'Math', 'Physics', 'Art', 'Art']

In [18]:
#to add items from new list to an existing list with literal item then use extend
courses.extend(courses2)
print(courses)

[['Electrical', 'Electronics'], 'Art', 'Engineering', 'Engineering', 'History', 'Math', 'Physics', 'Art', 'Art', 'Electrical', 'Electronics']

In [19]:
#to remove an item form the list we user remove method
#only one item will be removed if there are duplicates
courses.remove('Engineering')
print(courses)

[['Electrical', 'Electronics'], 'Art', 'Engineering', 'History', 'Math', 'Physics', 'Art', 'Art', 'Electrical', 'Electronics']

In [25]:
#pop method will remove the last item in the list
#it returns the value it removed
popped_item = courses.pop()
print(f'popped the item {popped_item}')
print(courses)

popped the item Art
[['Electrical', 'Electronics'], 'Art', 'Engineering', 'History', 'Math', 'Physics']

In [26]:
#reverse the current list
courses.reverse()
print(courses)

['Physics', 'Math', 'History', 'Engineering', 'Art', ['Electrical', 'Electronics']]

In [28]:
#sorting our list
courses.pop()
courses.sort()
print(courses)

['Art', 'Engineering', 'History', 'Math', 'Physics']

In [29]:
#descending order while sorting
courses.sort(reverse=True)
print(courses)

['Physics', 'Math', 'History', 'Engineering', 'Art']

In [30]:
#if you want to sort a list without inplace (changing the actual list) then use the 
#function sorted 
sorted_courses = sorted(courses)
print(sorted_courses)

['Art', 'Engineering', 'History', 'Math', 'Physics']

In [31]:
nums =[3,4,5,2,1]

In [32]:
#min and max functions on a list
print(min(nums))
print(max(nums))

1
5

In [33]:
print(sum(nums))

15

In [34]:
#find the index of certain values in the list use the method index
print(courses.index('Art'))

4

In [35]:
#to Check if a value is present in the list
print('Art' in courses)

True

In [36]:
#to print the list of elements with the index use the function enumerate
for index, course in enumerate(courses):
    print(index,course)

0 Physics
1 Math
2 History
3 Engineering
4 Art

In [37]:
#to print the index from the value 1 use the below code
for index, course in enumerate(courses,start=1):
    print(index,course)

1 Physics
2 Math
3 History
4 Engineering
5 Art

In [38]:
#joining items in the list using join method
course_string = ', '.join(courses)
print(course_string)

Physics, Math, History, Engineering, Art

In [39]:
course_string = '- '.join(courses)
print(course_string)

Physics- Math- History- Engineering- Art

In [41]:
#we can do a reverse of the same using split method
courses = course_string.split('- ')
print(courses)

['Physics', 'Math', 'History', 'Engineering', 'Art']

### Tuples

In [42]:
#we cannot modify tuples like lists
list1 = ('History','math')
list2 = ('Physics')
list1[0] ='dummy'

TypeError: 'tuple' object does not support item assignment

### SETS

In [63]:
#sets are values that unordered and with no duplicates
cs_courses = {'History','Math','Physics','CompSci','Math'}
print(cs_courses)

{'Physics', 'Math', 'History', 'CompSci'}

In [65]:
#membership test 
#sets are optimised for this operation
print('Math' in cs_courses)

True

In [66]:
art_courses = {'History','Math','Art','Design'}

In [67]:
#if we want to see common courses in in art and cs courses 
print(cs_courses.intersection(art_courses))

{'History', 'Math'}

In [68]:
#if we want to see differenc of courses from cs to art the we use difference
print(cs_courses.difference(art_courses))

{'Physics', 'CompSci'}

In [69]:
#to do union
#this will eliminate duplicates
print(cs_courses.union(art_courses))

{'CompSci', 'Art', 'Design', 'Physics', 'Math', 'History'}

### Creating Empty list,set and tuple

In [72]:
empty_list =[]
empty_list = list()
empty_tuple= ()
empty_tuple=tuple()
empty_set =set()