In [2]:
nums = [1,2,3,4,5,6,7,8,9,10]

In [3]:
#list compehensions
my_list = [n for n in nums]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
#map function - it will run a function for every element in the list
 
my_list = map(lambda n:n*n, nums)
print(my_list)

<map object at 0x0000018CE881F460>

In [5]:
#list comprehension with condionals
my_list = [n for n in nums if n%2==0]
print(my_list)

[2, 4, 6, 8, 10]

In [6]:
#filter works similar to the map function
my_list= filter(lambda n:n%2 ==0 ,nums)
print(my_list)

<filter object at 0x0000018CE894ABF0>

In [8]:
#nested for loops in list compehensions
my_list = [(letter,num) for letter in 'abcd' for num in range(4)]
my_list

[('a', 0),
 ('a', 1),
 ('a', 2),
 ('a', 3),
 ('b', 0),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('c', 0),
 ('c', 1),
 ('c', 2),
 ('c', 3),
 ('d', 0),
 ('d', 1),
 ('d', 2),
 ('d', 3)]

### Dictionary Comprehensions

In [ ]:
# Dictionary Comprehensions
names = ['Bruce', 'Clark', 'Peter', 'Logan', 'Wade']
heros = ['Batman', 'Superman', 'Spiderman', 'Wolverine', 'Deadpool']

print(zip(names,heros))
#this will create list of tuples

In [11]:
my_dict = {name:hero for name,hero in zip(names,heros)}
print(my_dict)

{'Bruce': 'Batman', 'Clark': 'Superman', 'Peter': 'Spiderman', 'Logan': 'Wolverine', 'Wade': 'Deadpool'}

In [12]:
#if you want to skip a name use condition
my_dict = {name:hero for name,hero in zip(names,heros) if name != 'Peter'}
print(my_dict)

{'Bruce': 'Batman', 'Clark': 'Superman', 'Logan': 'Wolverine', 'Wade': 'Deadpool'}

### Set comprehensions

In [17]:
# Set Comprehensions
nums = [1,1,2,1,3,4,3,4,5,5,6,7,8,7,9,9]

In [13]:
#we can do list comprehensions with sets ( we should not include colon : in it}
my_set = {n for n in nums}
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Generator expressions

In [18]:
def gen_func(nums):
    for n in nums:
        yield n*n

my_gen = gen_func(nums)
print(my_gen)

<generator object gen_func at 0x0000018CE8E36810>

In [16]:
#this will do the same as above
my_gen =(n*n for n in my_gen)
my_gen

In [19]:
for i in my_gen:
    print(i)

1
1
4
1
9
16
9
16
25
25
36
49
64
49
81
81