In [ ]:
person = {'name' :'Jenn','age':23}

In [1]:
#padding numbers
#colon is for the we are going to use formatting
for i in range(1,11):
    print('the value is {:03}'.format(i))

the value is 001
the value is 002
the value is 003
the value is 004
the value is 005
the value is 006
the value is 007
the value is 008
the value is 009
the value is 010

In [3]:
#to concatenate the decimal places
pi = 3.14159265
print('pi is equal to {:.2f}'.format(pi))

pi is equal to 3.14

In [6]:
#for putting commas on a big number
print('1 MB is equal to {:,.2f} bytes'.format(1000**2))

1 MB is equal to 1,000,000.00 bytes

In [7]:
import datetime
my_date = datetime.datetime(2016,9,24,12,30,45)
print(my_date)

2016-09-24 12:30:45

In [8]:
print('{:%B %d,%Y}'.format(my_date))

September 24,2016